@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "MyFont";
  src: url("/BrandinkSans.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

.active {
  color: yellow;
}

body {
  background-color: #2b2c2c;
  color: white;
  font-family: Gilroy;
  letter-spacing: 0.5px;
  font-size: 1rem;
}
.Navbar {
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 5vw;
  height: 70px;
  background-color: #151515;
}

.Navbar ul {
  display: flex;
  gap: 39px;
  width: 100%;
  font-size: 1.29vw;
  justify-content: flex-end;
}
.Navbar ul li {
  list-style: none;
}
.Navbar ul li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.Navbar ul li a:hover {
  color: yellow;
}
.Navbar ul li a.active {
  color: yellow;
}
.name {
  color: yellow;
}
.right img {
  width: 30vw;
}
.intro {
  padding: 12vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4vw;
}
.left h1 {
  font-size: 4vw;
  letter-spacing: 2px;
}
.left h2 {
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.btn {
  background-color: #2b2c2c;
  border: 2px solid yellow;
  width: 100px;
  height: 30px;
  color: yellow;
  border-radius: 12px;
  font-weight: 700;
  cursor: pointer;
  padding: 0;
}
.btn a {
  color: yellow;
  text-decoration: none;
}
.details span {
  text-align: justify;
}
.aboutMe {
  height: max-content;
  background-color: #303131;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8vw 13vw;
}

.content {
  width: 500px;
  text-align: justify;
}
.aboutHeading h1 {
  font-size: 3.5vw;
}
.education {
  padding: 50px;
  margin-top: 20px;
  text-align: center;
  min-height: 40vh;
  background-color: #303131;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details p {
  color: grey;
  margin: 10px 0;
}
.details {
  max-width: 450px;
  text-align: start;
  padding: 15px;
  border: 1.5px solid #4b4b4b;
  background-color: #2b2c2c;
}
.institutes {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 40px;
}
.skills {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.skill img {
  height: 50px;
  margin-bottom: 10px;
}
.skill {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.skill-section {
  padding: 5vw 0;
  text-align: center;
}

.projects {
  padding: 5vw 10vw;
  text-align: center;
  background-color: #303131;
}
.title {
  width: max-content;
  margin: auto;
  border-bottom: 2px solid yellow;
}
.details div {
  margin: 13px 0;
}
.details a {
  color: yellow;
  text-decoration: none;
  border: 1px solid yellow;
  font-weight: 700;
  padding: 3px 10px;
  border-radius: 13px;
  margin-right: 5px;
}
.projectList {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.experience {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience h1 {
  margin-bottom: 40px;
}
.work {
  max-width: 50vw;
}
.contactMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.contactInfo {
  display: flex;
  width: 70vw;
  justify-content: space-evenly;
  margin: 44px;
  line-height: 24px;
}
.social img {
  height: 30px;
  margin-right: 10px;
}
.demo {
  position: relative;
}
.bg {
  background-color: #303131;
}
.institute {
  width: 33%;
}
.email {
  text-decoration: none;
  color: white;
}
.section {
  padding-top: 70px;
}
@media (max-width: 600px) {
  .Navbar ul {
    gap: 5px;
  }
  .intro {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .institute {
    width: 100%;
  }
  .work {
    max-width: 100%;
  }
  .Navbar ul li a {
    font-size: 3vw;
  }
  .right img {
    width: 50vw;
  }
  .left h1 {
    font-size: 25px;
  }
  .aboutMe {
    flex-direction: column;
    height: auto;
  }
  .content {
    width: 100%;
  }
  .content > p {
    font-size: medium !important;
  }
  .institutes {
    flex-direction: column;
  }
  .education {
    min-height: 50vh;
    padding: 50px 23px;
  }
  .aboutHeading h1 {
    font-size: 8vw;
    margin-bottom: 25px;
  }
  .work {
    width: 85%;
  }
  .projects {
    padding: 30px 6vw;
  }
  .left {
    width: 100%;
  }
  .contactMe {
    padding: 20px;
  }
  .contactInfo {
    margin: 0;
    width: 100%;
    font-size: 12px;
    margin-top: 20px;
  }
  .left h2 {
    font-size: 15px;
  }
  .btn {
    background-color: #2b2c2c;
    border: 2px solid yellow;
    width: 75px;
    height: 24px;
    color: yellow;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    padding: 0;
    font-size: 10px;
  }
  .social img {
    height: 20px;
    margin-right: 5px;
  }
  .section {
    padding-top: 70px;
  }
}
@media (max-width: 820px) and (min-width: 600px) {
  .institutes {
    flex-direction: column;
    align-items: center;
  }
  .education {
    min-height: 100vh;
  }
  .details {
    width: 90%;
  }
}
